{% extends 'index.html.twig' %}

{% block content%}


<div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>{% for category in categories %}
  <a href="/categoryProduct/{{ category.name }}" class="list-group-item">{{ category.name }}</a>
        {% endfor %}
</div>

{% endblock %}
